# -------------------------------------------------------------------------------
# Name:        {NAME}
# Purpose:     {DESCRIPTION}
#
# Author:      {AUTHOR}
#
# Created:     {DATE}
# Copyright:   (c) {YEAR} {AUTHOR}
# Licence:     {LICENSE}
# -------------------------------------------------------------------------------


def main():
    pass


if __name__ == '__main__':
    main()
